/*------------------------------------*\
    $GRID
\*------------------------------------*/
/* Each column is 130px
*  Each gutter is 20px
*/

$container-size: 130*5+20*4px; // 730px
$gutter-width: 2.272%;

.container {
    margin: 0 auto;
    max-width: $container-size;

    @media only screen and (max-width: $break-full) {
        margin: 0 20px;
    }
}

.content {
    width: 79.452%;
    margin-right: $gutter-width;
    @include float(left);

    @media only screen and (max-width: $break-tablet) {
        width: 100%;
        margin-right: 0;
    }
}

.sidebar {
    width: 130px;
    @include float(left);
}

.subscribe--text, .subscribe--email, .subscribe--icons {
    margin-right: $gutter-width;
    @include float(left);

    @media only screen and (max-width: $break-mobile) {
        @include float(none);
    }
}

.subscribe {
    clear: both;
}

.subscribe--text {
    width: 48.863%;

    @media only screen and (max-width: $break-mobile) {
        width: 100%;
    }
}

.subscribe--email {
    width: 31.818%;

    @media only screen and (max-width: $break-mobile) {
        width: 100%;
    }
}

.subscribe--icons {
    width: 12.51%;

    @media only screen and (max-width: $break-mobile) {
        width: 100%;
    }
}