/*------------------------------------*\
    $ADS_UI
\*------------------------------------*/

.sidebar {
    margin-top: 50px;
    font-size: 12px;
    line-height: 15px;
    color: $purple;

    a, a:visited {
        color: $purple;
        text-decoration: none;
    }

    @media only screen and (max-width: $break-tablet) {
        margin-top: 0;
    }
}

.ad_source {
    margin: 0.5em 0 30px;
    font-size: 11px;
}