/*------------------------------------*\
    $FOOTER_UI
\*------------------------------------*/

.subscribe {
    height: 105px;
    border-top: 1px solid $gray-dark;
    background-color: $gray;
    overflow: hidden;

    @media only screen and (max-width: $break-mobile) {
        height: inherit;
    }
}

.subscribe--text, .subscribe--email, .subscribe--icons {
    margin-top: 24px;

    @media only screen and (max-width: $break-mobile) {
        @include float(none);
        display: block;
    }
}

.subscribe--text {
    font-size: 14px;
    line-height: 19px;
    color: $purple-light;
}

.subscribe--icons {
    overflow: hidden;

    img {
        text-align: right;
        margin-right: 5px;
    }

    @media only screen and (max-width: $break-mobile) {
        padding: 10px 0;
        text-align: center;
    }
}

.subscribe-box {
    margin-bottom: 3px;
}

.subscribe-button {
    @include float(right);
}

.footer {
    background-color: $black;
    color: $white;

    a, a:visited {
        color: $white !important;
    }

    .nav {
        li {
            margin-right: 20px;
        }
    }
}

.copyright {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: $gray-dark;
    @include float(right);

    @media only screen and (max-width: $break-mobile) {
      @include float(none);
  }
}