/*------------------------------------*\
    $PAGEHEAD
\*------------------------------------*/
.header {
    background-image: image-url('header-bg.jpg');
    background-size: cover;
    background-position: top center;
}

.nav-chevron {
    @include transition-property(transform);
    @include transition-duration(300ms);
}

.rotate {
    @include rotate(-180deg);
}